[2022-09-03 20:22] shimpe opened #5865 "ERROR: Primitive '_FileCopy' failed. when starting scide - boost needs upgrade to higher version to fix"
My /home is mounted on a different physical disk than /usr.

When starting scide, I get the following error:
[code]

[2022-09-03 20:25] shimpe commented on #5865
I just cloned and built latest develop (5893b7c387e6d2affe83617311423f75a651ada0)

[2022-09-03 20:41] shimpe commented on #5865
I should have mentioned: this is on a linux computer. Doing a "manual" copy (via bash command line) for this file makes this specific error disappear (but then it complains about the next copy operation that fails)https://github.com/supercollider/sc3-plugins

[2022-09-04 08:32] mtmccrea commented on #3428
Relatedly, document the intended use of `ControlSpec:-gridValues`.

Arguably, all this stuff related to grids shouldn't live in `ControlSpec`, but that's a larger issue of redesigning `GridLines`.

[2022-09-04 09:11] shimpe commented on #5865
Ah... probably it's this bug: https://github.com/boostorg/filesystem/issues/254
Solved in boost 1.77.0 and later. I see supercollider is using 1.74.0.

[2022-09-05 16:57] pierrepierrepierre commented on #5865
Hi, I'm running trhough same issue after upgrading linux mint 21...
Any idea on how to make the doc usable inside the app?
thanks

[2022-09-09 02:04] #5700 closed

[2022-09-11 12:48] hitesh-kumain commented on #5771
hi  @jamshark70 can you assign this to me ?

[2022-09-11 13:53] capital-G commented on #5859
I don't agree on that a NFC is necessary for this: It does not interfere, modify or deprecate any existing code and it is not a major change, only adding convenience/syntax sugar for demo/teaching purposes which is geared more towards novices (or even for me as advanced user b/c I can not remember those paths and need to copy them from the docs every time). Therefore I think the motivation is give

[2022-09-11 17:54] dyfer commented on #5771
Hello @hitesh-kumain

You are welcome to simply submit a PR if you have a solution for this problem. Although, it seems that this particular issue needs further discussion to identify the proper solution.
We do use the "assign" feature, but not in every PR/issue, so feel free to comment/contribute as desired.

[2022-09-12 00:28] jamshark70 commented on #5771
I don't think it needs much discussion... a descriptive error message makes the most sense IMO.

@hitesh-kumain I agree with dyfer -- go ahead and put in a PR. Include "Fixes #5771" in the PR's body text to link back here and automatically close this issue when the PR is merged.

[2022-09-12 12:34] hitesh-kumain commented on #5771
Ya sure !

[2022-09-13 21:53] elgiano opened #5870 "sclang: udp messages dropped when they are too fast/too many"
## Environment

* SuperCollider version: 3.13dev
* Operating system: Arch Linux
* Other details (Qt version, audio driver, etc.):

## Steps to reproduce

[code]

## Expected vs. actual behavior
I would expect to get 200 buffer object with their fields updated. However, fields are not updated for some of those buffers, because some "\b_info" replies from server get lost. This is an issue, e.g. if c

[2022-09-14 00:02] jamshark70 commented on #5870
Ubuntu Linux here, seemingly unreproducible.

[code]

Also tried:

[code]

[code]

[2022-09-14 00:26] jamshark70 opened #5871 "Stack size limit is not enforced"
## Environment

* SuperCollider version: 3.13dev
* Operating system: Presumably any (I'm on Linux)
* Other details (Qt version, audio driver, etc.): n/a

## Steps to reproduce

[code]

## Expected vs. actual behavior

This example specifies a maximum stack depth of 200 for the thread.

It then requests 1000 levels of recursion.

Expected: Stack overflow error.

Actual: Recursion completes, returns

[2022-09-14 01:44] dyfer commented on #5871
I agree that the boundaries should be enforced.

<details>
Off topic, but...
Why is it that a non-elevated process is able to take down the whole OS? In 2022? I tested `~stackSizeTest.value(inf)` on macOS and I got a message that the system has run out of memory, with a dialog allowing to "force close" processes (with SuperCollider clocking in at 95GB of memory at the time - that included swap of

[2022-09-14 02:48] jamshark70 commented on #5871
That's a good point.

It could be about Linux user privileges. https://wiki.ubuntu.com/Audio/TheAudioGroup says "As a practical rule of thumb for Debian and Ubuntu systems, there should be no users in the audio group" but then "Exceptions: ... If you're running Jackd and need realtime privileges" which is every SC user as of now. Then: "The risk involved here is that if a malicious or badly writte

[2022-09-14 03:57] dyfer commented on #5871
I am vaguely aware of privileges and audio on Linux, however - why do we have to run sclang with the same privileges? Is it because scsynth inherits the privileges from the calling process? If so, it seems like it would be worthy to somehow address that, if that's at all possible.

[2022-09-14 23:14] jamshark70 commented on #5871
AFAICS, TempoClock threads need RT priority in Linux ([schedRun()](https://github.com/supercollider/supercollider/blob/develop/lang/LangPrimSource/PyrSched.cpp#L602) and [TempoClock::TempoClock()](https://github.com/supercollider/supercollider/blob/develop/lang/LangPrimSource/PyrSched.cpp#L685)). But I don't know if they *really* need RT priority (maybe this was just the easiest way at the time th

[2022-09-15 00:32] dyfer commented on #5871
Ah, good to know. Maybe this is something to investigate then.

[2022-09-15 09:49] elgiano commented on #5870
Hi @jamshark70 thanks for testing this! Have you also tried with a higher number of buffers? Maybe on your machine it takes more than 200.

[2022-09-16 00:46] Nini12345678901 commented on #5682
Hi I am interested in contributing to this issue! Would you please be able to guide me as to how I can get started and where I can locate the necessary files for making contributions to this?

[2022-09-16 02:34] jamshark70 commented on #5870
OK, here's a non-buffer test that reproduces it consistently.

[code]

I'm getting 60-75% of the messages coming in ("size check: [ 1000, 625 ]" is on the low side but actually seen).

Doing a binary search for the limit, I find that somewhere around 340 is okay. Above that, some messages might be dropped.

One question is: How much effort is it worth, to handle an unusually stressful scenario per

[2022-09-16 02:55] dyfer commented on #5870
Here's a datapoint:
on macOS i got something like `"size check: [ 1000, 986 ]"` when SC was running something else concurrently (20-30% server load) and some activity in the language. On the idle server I get no missing packages even if I increase the iteration to 10000 (increasing `s.options.maxNodes` accordingly).

[2022-09-16 03:13] dyfer commented on #5682
@Nini12345678901 Thank you for your interest. You can find information for contributors on our [wiki](https://github.com/supercollider/supercollider/wiki), particularly pages under "Developer reference" section in the toolbar on the right. I hope you find these resources useful!

[2022-09-16 07:11] jamshark70 commented on #5870
That's interesting. I've observed glitchy timing of OSC receipt in Linux before. The OSC  code paths were originally written for Mac (though I don't know what impact boost:asio has on that). It wouldn't surprise me if the initial Linux port just got it working "well enough" but never fine-tuned it. (Speculative on my part.)

[2022-09-18 20:46] Nini12345678901 commented on #5682
Thank you for providing the link to the project's wiki! I have been reading through the different sections including Developer Reference. I am still unsure as to how I can navigate to the supporting files for this particular issue that I can use to set up on my IDE. I would appreciate the guidance, thank you.

[2022-09-18 21:11] dyfer commented on #5682
@Nini12345678901 I'm not sure I understand the scope of your question. If you ask about where in SC you can find the implementation of e.g. `.postf`, then that's in the [String.sc](https://github.com/supercollider/supercollider/blob/develop/SCClassLibrary/Common/Collections/String.sc#L129) for the sclang side. I'd need to look further to see where the c++ implementation is (the proposed changes co

[2022-09-19 10:11] telephon commented on #5682
I am in favor of keeping what we have and just using `format`. This combines well with anything that takes a string, and there is no need for eaxtra documentation. Just my 2 cents.

[2022-09-20 16:45] michelestew commented on #5609
Hi can I work on this?

[2022-09-21 13:06] loopier commented on #5864
I stumbled with a problem that might be related to this, but I'm not sure when it started (maybe when I upgraded to `3.12.2-3`).

I was editing my own class that works only with MIDI, and at some point the communication between `sclang <-> scserver` broke. I can boot the server with `s.boot` and don't get any errors:
[code]
But the server window doesn't show up it's booted (stays as when it fails

[2022-09-22 00:28] jamshark70 commented on #5864
With apologies, but it isn't related.

The present bug report is for scide (editor) vs language communication. The server is not involved in this bug report at all.

Your issue might be a SuperCollider bug, but it belongs in a new issue, not this one.

[2022-09-22 13:35] madskjeldgaard commented on #5609
oo ahad

On 20-09-2022, michelestew wrote:

[2022-09-22 23:55] jamshark70 commented on #5609
The key point that kicked off the scsynth thread ("Bus doesn’t have an allocMsg or newMsg like Buffer for example") is that, even though we use the same word for allocating buses and buffers, there is a difference:

- A buffer doesn't exist in the server until you tell it how big it should be (`/b_alloc`), hence the `allocMsg`, `readMsg` etc. methods.
- All buses *do* exist from the moment the ser

[2022-09-23 12:32] michelestew commented on #5609
Ok! Thanks for the explanation. Getting started on it today.

[2022-09-24 01:53] jamshark70 commented on #4467
Recent question in the Facebook SC group:

So again -- "Is there any good reason why users should be forbidden from creating a ServerMeter to monitor user-specified private buses?"

In the absence of an answer, I'll assert that there is no good reason and that ServerMeter(View) is poorly designed.

[2022-09-24 03:52] dyfer commented on #4467
I don't think there's a good reason to prevent private buses from monitoring.
The closest thing is that currently there's no control (IIRC) of the node order for the metering synth(s). Input synths go before the main group, output synths go after. But I imaging that when monitoring a bus, it might be crucial where the synth goes... which needs some interface considerations I think.

[2022-09-24 09:15] mtmccrea commented on #4467
Maybe we can make sure the monitor synth is (optionally) _always_ at the tail of the node tree, detecting the creation of any new or reordered synths and moving the metering node as needed.

[2022-09-24 09:44] jamshark70 commented on #4467
As I thought about it further, I would suggest a `BusMeterView : SCViewHolder` class, which would specify the starting bus number and number of buses, and the target node and addAction (where the default would be to add at the tail of the root node). Then the current ServerMeterView would create two of these (input buses at the head of root, output buses at the tail).

I don't think I would overco

[2022-09-24 18:25] telephon commented on #4467
sounds good. A similar case was `Recorder`, and that is good to have separately now.

[2022-09-24 19:34] Nini12345678901 commented on #5682
@dyfer Thanks for the further information. If I'm understanding this properly, wouldn't `.postf` be more concise for usage in warns and errors while still comprehending the specific issue that is being addressed? Furthermore, I think in regards to names, something along the lines of "postFormat" would be suitable for naming the methods.

I was unable to find the proper location of the C++ implemen

[2022-09-25 00:33] jamshark70 commented on #4467
FWIW I just took a look at the surgery that's involved -- I can't decide if it should be a refactoring or a total rewrite. I do see that I can't do it quickly so I'll have to put it down, not sure when I can pick it up again. Would welcome others to take it up.

[2022-09-25 00:45] jamshark70 commented on #5682
When adding methods, we need to consider:

- How much functionality is gained? (We like to think about this part.)
- How much effort will it take to maintain the new code going further? (We don't like to think about this part, but not thinking about this part causes problems for future developers.)

`errorFormat` and `warnFormat` would convert

[code]

into

[code]

45 (old) vs 44 (new) characters

[2022-09-25 01:01] Nini12345678901 commented on #5682
@jamshark70 Thank you for your insight. I do see the points you have made as costs for implementing the new methods in C++ could potentially be higher. Is there a way I can still contribute to this issue that would increase efficiency or add beneficial value to the existing implementation?

[2022-09-25 10:34] jamshark70 commented on #5682
I'll leave that for others to decide. If it's up to me, I doubt that it's so important to do. If others really want it, then I won't object (low gain, but also low cost = not much reason for, also not much reason against).

[2022-09-25 20:49] michelestew commented on #5609
Hello, I am trying to understand this issue a bit more. Where would I be adding this example/extra information? What is the process for updating the documentation?

[2022-09-26 13:24] zzkt commented on #5870
@elgiano If you need a guarantee of delivery you should use TCP rather than UDP.

It's not really a bug if  packets are dropped when there are network issues since "there is no guarantee of delivery, ordering, or duplicate protection." There might be some performance issues to improve UDP transport in supercollider, but anything that depends on all packets being delivered should use TCP.

[2022-09-27 00:41] jamshark70 commented on #5870
Or restructure the task to avoid high-stress communication (a point which I had tried to make earlier). It is almost always possible to do that.

[2022-09-28 20:11] jamiehodge opened #5879 "Pattern.record appears to be broken"
The inlining of `pattern.record` (https://github.com/supercollider/supercollider/pull/5275) is resulting in header-only files. I copied the previous, server recorder-based method into the class definition and it created a valid audio recording.

## Environment

* SuperCollider version: 3.12.2
* Operating system: Mac OS
* Other details (Qt version, audio driver, etc.):

## Steps to reproduce

[code

[2022-09-29 00:41] jamshark70 commented on #5879
[code]

![sc-pat-rec-01](https://user-images.githubusercontent.com/318301/192912501-7a6db1e3-ca02-4e8f-a341-307b6d200b0c.png)

So the inlining is not broken. The recording logic is fine. (Actually the inlining was done for a reason -- you already pointed to the issue; it would be worth reading the history to understand why it was changed.)

What *does* appear to be a problem is that there is no de

[2022-09-29 15:52] telephon commented on #5879
Btw. was there a reason that it wasn't possible to use the built in `Recorder` class for this?

[2022-09-30 00:07] jamshark70 commented on #5879
This information is not hard to find in the publicly available history. The link is right there at the top of the issue text...

https://github.com/supercollider/supercollider/pull/5275: "https://scsynth.org/t/calling-supercollider-script-from-windows-batch-file/2964/8 reports that an audio file produced by pattern.record begins with some silence, where a reasonable expectation would be that the r

[2022-09-30 08:03] telephon commented on #5879
Sorry james, I just asked for interest – it is entirely ok to just not reply!

Thank you for your answer, I only occasionally look into the forum, which is my own fault.

[2022-09-30 21:26] #5609 closed

[2022-10-04 08:21] OJMusic opened #5881 "No sound on windows 10 using ASIO4ALL driver"
Hi :)
I have a serious problem. It's not possible for me to get sound on my Windows 10 computer when I'm using SuperCollider. I have sound on my computer in all other programs than SuperCollider. It's a big problem for me as I studying sound production in my University, and right now we're being taught how to use SuperCollider by a real pro. But with no sound on my computer, when using Supercollid

[2022-10-05 20:51] dyfer commented on #5881
Hello @OJMusic

Can you confirm that Reaper actually uses the ASIO4ALL driver and that you get sound that way?

How are you setting SC to use ASIO4ALL driver? Please provide 1) your code that sets the device and 2) output of the post window when you boot the server.

This is an issue/feature of ASIO4ALL, AFAIU. In order to provide low-latency operation, ASIO4ALL "takes over" the audio device (it o

[2022-10-10 10:11] jamiehodge commented on #5879
I can confirm that the above fix works.

[2022-10-11 07:54] OJMusic commented on #5881
Hi Marcin
Thank you for your answer. :-)

I would like Supercollider to use my default sound driver, but it doesn't work. The sound simply won't boot in Supercollider when using the default sound driver on my HP workstation.

The numbers below the Post Window are white. When I boot the sound engine these numbers become yellow and then white again - and no sound. The sound server just won't boot.

[2022-10-11 20:27] dyfer commented on #5881
Please provide full code and post window output when trying to use the default device and booting the server.

Also, could you provide an output of `ServerOptions.devices`? You can explicitly set input/output device that way, not necessarily using ASIO4All.

I really doubt this is an SC bug. Is is most likely a configuration issue.

You still didn't provide the code that you're using to make sound

[2022-10-14 14:50] j0py commented on #5726
Today i came across probably the same bug: it also happens when ending a proxy, like: "~proxy.end(2)"

To reproduce:

[code]
SuperCollider 3.12.2 on Lubuntu 20.04, no quarks / extensions installed / SC3plugins installed

[2022-10-14 18:28] dyfer commented on #5726
@telephon what do you think?

[2022-10-15 13:55] telephon commented on #5726
The thing is that I can't reproduce it on my system. Here, all monitors stay alive also for `PmonoArtic`. Since the problem is on SC 3.12.2, and I am on the latest build, perhaps something was fixed inbetween? @j0py can you try the latest build as well?

[2022-10-16 08:54] j0py commented on #5726
Yes, i will try the latest build and report back

Verzonden van mijn HTC

----- Bericht beantwoorden -----
Van: "Julian Rohrhuber" ***@***.***>
Aan: "supercollider/supercollider" ***@***.***>
CC: "Johan Stuijt" ***@***.***>, "Mention" ***@***.***>
Onderwerp: [supercollider/supercollider] PmonoArtic in ProxySpace with fadeTime kills all monitor synths (Issue #5726)
Datum: za, okt. 15, 2022 15:55

T

[2022-10-16 22:07] catniptwinz opened #5886 "Bus.subBus always returns a Bus on Server.default regardless of which server the original Bus is on"
## Environment

* SuperCollider version: 3.12.2
* Operating system: Arch Linux (kernel 6.0.1-arch2-1)
* Other details (Qt version, audio driver, etc.): scnvim, pipewire (via pipewire-jack)

## Steps to reproduce

[code]

## Expected vs. actual behavior

It's expected that `~bar.subBus(0)` will return `Bus(audio, 4, 1, foo)`, but instead it returns `Bus(audio, 4, 1, localhost)`.

This seems to be b

[2022-10-17 20:47] #5886 closed

[2022-10-19 20:27] telephon commented on #5726
Ah very good, thanks a lot for testing, Johan.

[2022-10-21 21:37] #5156 closed

[2022-10-21 21:39] #4970 closed

[2022-10-21 21:56] #5498 closed

[2022-10-22 18:12] organic-jukebox opened #5890 "Empty function crashes interpreter"
## Environment

* SuperCollider version: 3.12.2
* Operating system: MacOS Monterey 12.6
* Other details (Qt version, audio driver, etc.): Qt 5.15.2

## Steps to reproduce

[code]

## Expected vs. actual behavior

Instead of the empty function being evaluated, the interpreter crashes.

Interpreter has crashed or stopped forcefully. [Exit code: 11]

[2022-10-22 20:09] dyfer commented on #5890
@organic-jukebox thanks for the report!
This is a duplicate of #4924 - I'm going to close this one.

[2022-10-22 20:09] #5890 closed

[2022-10-22 20:13] dyfer commented on #5852
I'm closing this due to lack of response.

[2022-10-22 20:13] #5852 closed

[2022-10-23 16:23] dyfer commented on #4175
I've updated the labels since AFAIU this affects macOS only and is related to AppClock, not just the GUI subsystem.

[2022-10-24 21:51] dyfer commented on #5881
Closing due to lack of response. Feel free to reopen if the problem still occurs.

[2022-10-24 21:51] #5881 closed

[2022-10-25 08:35] elgiano commented on #5634
Fixed by  #5713

[2022-10-25 08:35] #5634 closed

[2022-10-25 09:37] OJMusic commented on #5881
Hi Marcin
Sorry for not answering - I've been very busy these days.
I've found a solution however.

I have bought an external USB soundcard - a Behringer UCA222. It also
uses the ASIO4ALL driver and works as plug and play. When I put it into
the USB port and started SuperCollider I was able to get sound in
SuperCollider through that USB soundcard.
I bought it at www.Thomann.de and the pricetag inc

[2022-10-25 11:55] jamiehodge opened #5892 "Support LanguageServer quark work"
## Motivation

Simplifying the use of supercollider outside of the IDE (read: vscode/vim/et al) would be a huge win for the project. It appears as though @scztt is making good progress in this direction, but it would be great if this work gained larger support.

## Description of Proposed Feature

Prioritize:

- [] landing his changes to the sclang socket API (topic/refactor-com-port)
- [] landing

[2022-10-25 12:13] woutersnoei opened #5893 "audio rate .sqrt of 0 (zero) produces NaN"
## Environment

* SuperCollider version:
3.13dev (arm build)

* Operating system:
macOS Monterey 12.6

## Steps to reproduce

[code]

## Expected vs. actual behavior

In two recent dev builds (for arm64) calling 'sqrt' on an audio signal that has value 0 produces a NaN. This isn't the case in the official build (3.12.2) so the issue is either caused by a change after that or by the arm64 architect

[2022-10-25 12:35] woutersnoei commented on #5893
Addition: this only happens in the arm64 build. I tried in both x64 and arm64 builds from this action: https://github.com/supercollider/supercollider/actions/runs/3317669484
The x64 build (in Rosetta mode on my machine) returns 0 as it should, only the arm64 build returns NaN

[2022-10-25 17:41] dyfer commented on #5892
Thanks. Yes, having a proper language server protocol support would great.

It looks like @scztt 's PR is in review... although there was no response lately.

Bringing language server protocol into SC needs to be done more carefully than just bringing in that quark. Firstly, we've brought a quark into main distribution before (UnitTests) and it created issues for months (years?) due to mechanism o

[2022-10-25 18:56] dyfer commented on #5893
I can confirm this issue. This is not good :/
I can also see a difference eg in `2.sqrt` on the server:
[code]
I'm guessing this might have to do with compiler settings but I'm not sure where it's coming from... we don't seem to set anything differently depending on the platform.

[2022-10-26 00:11] dyfer commented on #5893
It seems that the problem occurs in the `nova-simd` class here: https://github.com/timblechmann/nova-simd/blob/master/detail/vec_math.hpp#L550-L558 I can see NaNs here when I set a breakpoint there. Also, I'm not sure if `VecType::gen_sign_mask();` is returning correct values.

I can see online that there are some differences in floating point representations between M1 and Intel, but I'm not sure

[2022-10-26 01:33] dyfer commented on #5893
@timblechmann do you have any ideas how to solve this?

[2022-10-26 05:47] timblechmann commented on #5893
@dyfer, you could double-check the nova-simd testsuite.

the sign mask generation in https://github.com/timblechmann/nova-simd/blob/master/vec/vec_neon.hpp#L64-L69 should probably go through a union, though, as it may cause strict aliasing issues

[2022-10-26 17:06] dyfer commented on #4489
Just to clarify: the reported issue on Windows is different than the example on macOS. On macOS sclang process _does_ come into focus when `.front` is called (though, the requested window is not necessarily brought to focus, more below). On Windows, at the time of reporting this, sclang would _not_ be brought to focus (the focus stays with the IDE), so if the sclang windows are underneath the IDE,

[2022-10-26 17:15] dyfer commented on #5757
Thanks @elgiano , I think it would be good to add this. I have two suggestions:
- In "See also" I'd link both `Process -nowExecutingPath` and `String -resolveRelative`
- I'd add the examples for nowExecutingPath and resolveRelative in respective helpfiles, not in `getcwd`
  - in "Process": `thisProcess.nowExecutingPath.dirname;`
  - in "String": `"".resolveRelative;` (I use this one more often as

[2022-10-26 19:48] #4767 closed

[2022-10-27 07:36] elgiano commented on #5757
Hey @dyfer!
I agree to add a "See also" reference to `resolveRelative`, I actually didn't know this function!
About the example, the idea was to put `nowExecutingPath` next to `getcwd` to support clarifying their difference, since there can be confusion.

Now I think that at least these functions should all refer to each other: `File -getcwd`, `Process -nowExecutingPath`, `String -resolveRelative`

[2022-10-27 17:32] rexmalebka opened #5894 "Implement /d_get command"
## Motivation

I was checking  [Server Commands](http://doc.sccode.org/Reference/Server-Command-Reference.html) and notice there is no way of retrieving synthdef information.

I want to know how a synth it's made, to check for example, if certin synth has `out` argument and further set out channels according to my interests, even restructure a synthdef based on previous synthdef models.

## Descri

[2022-10-27 18:03] #5879 closed

[2022-10-27 18:07] dyfer commented on #5757
I agree that adding cross-references to all of them would be great.

I'd either leave the single examples with each respective class, or... At the expense of slight code duplication, but gaining better visibility, what do you think about having all 4 examples in all 4 places? One line each, like:
[code]
Either that, or leave each example with the respective classes and hope that cross-links are cl

[2022-10-27 18:36] josiah-wolf-oberholtzer commented on #5894
You want to get the arguments (and maybe defaults) to a SynthDef, or do you want to get the entire compiled SynthDef's bit-packed structure?

Regardless, I think more introspection commands are a boon. They make writing integration tests against a live server easier and more reliable.

Related: https://github.com/supercollider/rfcs/pull/13 < my stalled `/s_query` command RFC. I would have loved a

[2022-10-27 21:06] rexmalebka commented on #5894
In first instance would be nice to have default values, variants and when possible output channels.

In more advanced cases would be interesting to have the whole structure (wouldn't mind to parse it manually in whatever language I'd use )[ using Synthdef file format doc]( http://doc.sccode.org/Reference/Synth-Definition-File-Format.html )

wouldn't bother even having the `.dumpUGens` structure, b

[2022-10-28 17:48] dyfer commented on #5893
@timblechmann indeed `signed_sqrt_tests` fail, see https://github.com/timblechmann/nova-simd/issues/11. Do you have any suggestions how this can be fixed?

[2022-10-30 09:07] telephon commented on #5894
It may be not the most efficient way, but sending back the foll bytes of the `SynthDef` would allow sclang to rebuild even the `SynthDesc` (see `read`).

[2022-11-02 01:24] Spacechild1 opened #5897 "Child processes inherit all file descriptors"
By default, a child process created with `fork` inherits all open file descriptors (including all open sockets), except for those that have the `FD_CLOEXEC` flag set. sclang and scsynth should really set the `FD_CLOEXEC` on all sockets that are bound to a specific port number, otherwise a lingering child process might occupy certain ports, such as the lang port or scsynth port.

Usually, this is n

[2022-11-03 15:10] balintlaczko opened #5899 "Supernova seems only compatible with VS 2017 on Windows"
## Environment

* SuperCollider version: both 3.12.2 and local build of 3.13.0-dev
* Operating system: Windows 10
* Other details (Qt version, audio driver, etc.): Qt 5.15.2, ASIO

## Steps to reproduce

[code]

## Expected vs. actual behavior

I get the infamous exit code -1073741676, which is [apparently a divide-by-zero error](https://stackoverflow.com/questions/47422982/c-status-1073741676).

[2022-11-04 15:26] dyfer commented on #5899
Hello @balintlaczko
What are you server options? Have you tried changing e.g. ASIO buffer size?
Also, supernova tries to boot at 44100 IIRC (it does _not_ take the samplerate from hardware), have you tried setting that parameter explicitly in ServerOptions to match your hardware?

Often this kind of error is the PortAudio (audio backend) error that bubbles up.

[2022-11-04 16:05] balintlaczko commented on #5899
Here is my startup file that I used in all cases when testing:

[code]

I was totally unaware of this, let me test and I'll report back here! Thanks for the tip!

[2022-11-04 16:10] balintlaczko commented on #5899
Nope, testing with 3.12.2-release, it is the same on both 44100/48000 and 128/512. I matched the hardware settings in the server options in each case.

[2022-11-04 16:17] balintlaczko commented on #5899
The strange thing to me is that the same thing boots and works in a debug build and fails to boot in the release build.

[2022-11-04 17:59] dyfer commented on #5899
You're welcome! Just to clarify, if you set sample rate with ServerOptions, it will try to set the ASIO device to that sample rate. If the device supports that sample rate, this should work fine. When you don't specify the samplerate, it will try to boot to the first samplerate reported as "supported" by the hardware from the list: 44100, 48000 etc. So this fails mostly for hardware where sample r

[2022-11-04 20:44] balintlaczko commented on #5899
Good news! Managed to compile [this PR](https://github.com/supercollider/supercollider/pull/5618) in Release mode with Visual Studio 15 2017 build tools. Previously I compiled with Visual Studio 2022, with that it still does not work (in release).
I still get the `OffsetOut_Ctor: alloc failed, increase server's RT memory (e.g. via ServerOptions)` error whenever I try to use the default Synth, othe

[2022-11-06 22:04] dyfer commented on #5899
In that case this seems to be an issue of compatibility with Visual Studio 2022. In the CI we only build with Visual Studio 16 2019.

If you confirm that local build with VS 2017 works as expected, I'd suggest either renaming the title of this issue, or closing this one and filing new one mentioning an issue when building with VS 2022.

[2022-11-06 23:03] dyfer commented on #5893
Additionally: `.reciprocal` is also broken.
[code]
A workaround is coming up.

[2022-11-06 23:46] dyfer commented on #5893
https://github.com/supercollider/supercollider/pull/5901 fixes the behavior on M1.

I would consider keeping this issue open for now and close it once the issue is resolved in nova-simd.

[2022-11-07 22:08] dyfer commented on #5853
Fixed in https://github.com/supercollider/supercollider/pull/5882

[2022-11-07 22:08] #5853 closed

[2022-11-08 08:53] balintlaczko commented on #5899
Actually, I noticed now that I get the same exit code with Supernova if I am using the VS 2019 build tools (scsynth still works). Going back to targeting VS 2017 supernova boots and works again. So supernova only seems to be compatible with VS 2017.

[2022-11-08 12:12] telephon commented on #5749
Yes, it is a shame we have had no discussion – the bug #5750 is really something that should be fixed.

The only place where the primitive `_Symbol_envirPut` is called is in `Symbol::envirPut`.

There is no behavioural difference in these two cases:
[code]

To be cautious, let's merge this after the release.

[2022-11-08 20:06] dyfer commented on #5899
SC is built using VS 2019 in GitHub Actions.
Could you check if you experience this problem on a [recent develop build from github actions](http://supercollider.s3.amazonaws.com/builds/supercollider/supercollider/win64/develop-latest.html)?

BTW which version of libsndfile are you using when building SC yourself?

[2022-11-09 12:52] balintlaczko commented on #5899
Yes, the build you linked gives me the same exit code when trying to boot Supernova.
In the local builds I am using libsndfile 1.0.28 (seems to be the latest(?) at the time of writing).
Both when I compile from [this PR](https://github.com/supercollider/supercollider/pull/5618) and from the develop branch, Supernova only is able to boot when I use VS 2017 build tools. Scsynth works fine in all too

[2022-11-09 17:58] dyfer commented on #5899
Thank you for confirming and checking other builds.

I was able to reproduce both issues using the latest develop build from our build system. **It seems that supernova can't boot only if a device name is set** - it does boot for me if I don't set it. Of course this is not a "fix", but something to keep in mind when trying to debug this.

I can also reproduce the `OffsetOut_Ctor` error.

No need t

[2022-11-10 00:23] dyfer commented on #5899
Thanks so much @Spacechild1 ! I'll test this build.
However, do you have any idea why this only happens with MSVC 2019 and up, and not with gcc/clang and/or other platforms?

[2022-11-10 08:39] balintlaczko commented on #5899
I cannot confirm this with the develop branch compiled via VS 2019. Supernova either does not boot with some devices, or hangs for a long time (NB. windows defender RT protection is off) and then quits. This also does not seem to be consistent (sometimes it hangs with the same device, then quits, sometimes it quits immediately - could it be that something gets "dirty" when trying with device A and

[2022-11-10 09:22] Spacechild1 commented on #5899
Great! @dyfer #5902 is now ready for review/merging.

---

I'm travelling at the moment, but once I get back to my Windows dev machine I will have a look.

[2022-11-10 11:48] Spacechild1 commented on #5899
@balintlaczko In the meantime you could use some good ol' printf-debugging to see how far the `supernova.exe` program gets before it decides to terminate. (Or run it in a debugger with a few breakpoints.)

[2022-11-10 19:41] dyfer commented on #5899
Thanks for checking this.
I was trying to test https://github.com/supercollider/supercollider/pull/5902 and indeed I encountered a similarly inconsistent behavior - even with an older build where supernova used to boot before (when no device name was set). So I now thing that my comment was inaccurate and device name setting is a red herring.

@Spacechild1 thanks for much for your help and fixes!

[2022-11-10 22:07] Spacechild1 commented on #5870
Hey, since I've written quite a bit of networking code, I thought I'd chime in.

As others have mentioned, UDP is an unreliable protocol by definition. You can minimize packet loss, but you can never fully eliminate it. Incoming UDP packets are stored in the UDP receive buffer. This buffer typically has a fixed size. If the buffer is full, incoming packets are discarded. That's why you can see UDP

[2022-11-10 22:24] Spacechild1 commented on #5870
BTW, in similar vein you might want to also increase the UDP send buffer size (`SO_SNDBUF`). If the send buffer is full, outgoing packets are typically *not* discarded, rather the call to `send`/`sendto` blocks until there is enough space in the buffer. With high UDP traffic, a larger send buffer reduces blocking and increases throughput.

[2022-11-11 10:00] balintlaczko commented on #5899
Again, I really don't think I know what I'm doing, but I may have narrowed it down to either of three lines in [server.cpp](https://github.com/supercollider/supercollider/blob/develop/server/supernova/server/server.cpp):
- [scheduler<thread_init_functor>(args.threads, !args.non_rt),](https://github.com/supercollider/supercollider/blob/02c37d28badc390f7ee320883b955052294d3cd6/server/supernova/serve

[2022-11-11 10:45] Spacechild1 commented on #5899
@balintlaczko That's good progress! Now you could dive into the `server_shared_memory_creator` and continue recursively until you've found the exact place where the program aborts. Then I might be able to spot the problem.

[2022-11-16 23:10] gitmarek opened #5909 "Supernova's moveAfter() behaves differently than for scsynth"
## Environment

* SuperCollider version: 3.2.12
* Operating system: Ubuntu 22.04
* Other details (Qt version, audio driver, etc.):

## Steps to reproduce

[code]

## Expected vs. actual behavior

Except for the 4th query listed above (out of 5), the listing given by `supernova` is different than what I'd expect from `moveAfter()` and different from the output given by `scsynth`.  I'd expect `super

[2022-11-17 14:45] yaxu opened #5910 "Reports of high CPU for 3.13 release candidates"
Under both mac and linux, 3.13 causes high CPU on idle when using the SuperDirt framework. Re-installing 3.12 resolves the issue.

For more details please see the superdirt issue: https://github.com/musikinformatik/SuperDirt/issues/277

Reporting here in case people are seeing similar high CPU outside of superdirt.

[2022-11-18 08:38] jamshark70 opened #5911 "Ubuntu Studio 22.04 dependency hell vs udev"
This had been reported a year ago on scsynth, but never addressed.

https://scsynth.org/t/dependency-installation-issues-on-ubuntu/4106

[code]

If this is unsatisfied, cmake complains:

[code]

The upshot is that SuperCollider cannot be built in current Ubuntu LTS, and the problem has been known (wrt Ubuntu 21.xx) for over a year now. That is not good.

Since this seems to be related to HID... ca

[2022-11-19 15:45] dyfer commented on #5911
FWIW in GitHub Actions we _do_ build SC with [Ubuntu 22.04](https://github.com/supercollider/supercollider/blob/develop/.github/workflows/actions.yml#L96).
[Here's what we install](https://github.com/supercollider/supercollider/blob/develop/.github/workflows/actions.yml#L190) and [here's the cmake invocation](https://github.com/supercollider/supercollider/blob/develop/.github/workflows/actions.yml

[2022-11-20 01:03] jamshark70 commented on #5911
Ubuntu *Studio* preinstalls a lot of creative software. While this is not "vanilla" Ubuntu, it would be worth paying attention to this as it's reasonable to expect that SuperCollider users might favor a distribution tailored toward real-time creative work.

I'll go to askubuntu first, though. I see a couple of possible solutions for other desktop systems, but unfortunately not for the KDE Plasma d

[2022-11-20 09:37] telephon commented on #5910
Here is the reproducer.
It has to do with the initialisation of the first frame for a trigger input.

[code]

[code]

[2022-11-20 12:48] telephon commented on #5910
This might be connected to the [Fix UGen Initialization](https://github.com/supercollider/rfcs/pull/19) project.

[2022-11-20 12:53] telephon commented on #5910
It would have to be here:

https://github.com/supercollider/supercollider/blob/71f161c5440b2e1e84d3664b61c4d8d97cc56b68/server/plugins/TriggerUGens.cpp#L2254-L2271

[2022-11-20 18:25] dyfer commented on #5911
Thanks for clarifying, I updated the title. Of course making sure SC works on Ubuntu Studio makes sense.

Please report back after trying the linked solution. IMO this is ultimately Ubuntu's problem, but if it can't be fixed in the OS then we can try finding a workaround in SC.

[2022-11-21 01:26] iani opened #5912 "Make LanguageConfig.store useable for platforms other than SuperCollider.ide"
## Motivation

Quarks.install works on SuperCollider.de, but does not work on Emacs
When performing

Quarks.install("https://github.com/...")

I get error:

ERROR: Could not write to file "/Applications/Emacs.app/Contents/MacOS"
RECEIVER:
class LanguageConfig (0x7fcf318e1b00) {

etc.

Currenly LanguageConfig.store is coded as a primitive:

[code]

Is it possible to make LanguageConfig open to spec

[2022-11-21 08:48] lukiss opened #5913 "Transparent windows not working"
Bug description:

Setting the background color of a window to Color.clear does not work in version-3.13.0-rc1

Steps to reproduce:
1.

(
w=Window("Oh, No!",Rect(
        Window.screenBounds.asArray[2]/2-150,
        Window.screenBounds.asArray[3]/2-150,
        300,
        300),false,false);
w.background_(Color.clear);
w.view.background_(Color.clear);
w.front;
)

Actual result: A gray window.

Ex

[2022-11-21 09:33] telephon commented on #5912
Hi iani, yes there is definitely something wrong here. But the issue might be hidden elsewhere, I can only point at some clues:

First of all, the path is not hardcoded, it is taken here:
https://github.com/supercollider/supercollider/blob/71f161c5440b2e1e84d3664b61c4d8d97cc56b68/lang/LangPrimSource/PyrPrimitive.cpp#L3648

… which eventually will call this:
https://github.com/supercollider/superco

[2022-11-21 09:45] mtmccrea commented on #5910
Thanks @yaxu for reporting this and @telephon for tracking the problem down.
`PauseSelf` is not initialized properly, so the first trigger is missed as you pointed out.

I've submitted a fix: #5914.

@yaxu, if you're familiar with building SC, you could give it a try, or wait until the updated release candidate. Either way, please let us know if this solves your issue!

[2022-11-21 09:57] mtmccrea opened #5915 "classlib: Node:-isRunning doesn't accurately reflect state"
The `Node:-isRunning` getter returns its instance variable, rather than querying if the `Node` is actually running.

## Environment

* SuperCollider version: 3.13 rc-1
* Operating system: MacOS

## Steps to reproduce

[code]

## Expected vs. actual behavior

[2022-11-21 10:36] dyfer commented on #5915
Are you sure this is a valid issue?
Firstly, it's impossible to return a server query synchronously, so `Node -isRunning` couldn't query the server and get the response "on time" when called.
Secondly, I think this is what `NodeWatcher` is for.

In your example, if `x.register` is added, then `.isRunning` seems to return the correct state.

What do you think?

[2022-11-21 10:57] dyfer commented on #5913
I can confirm this happening on macOS on both the rc1 release and the local build _that used Qt 5.15.6_. However, when I upgraded local Qt to 5.15.7 (the latest version in homebrew at the time of writing this) and re-built SC, the issue seems to have gone away. So... this might solve itself if Qt gets upgraded in the GHA runner, hopefully by the time we make another RC.

[2022-11-21 16:31] dyfer commented on #5915
Well, there are many places where state of the language can get out of sync with the server (ServerOptions comes to mind), so while it might be objectively incorrect, that kind of behavior has a precedence in the SC world.

The getter should probably not be removed, but if the NodeWatcher is not running, user could be somehow notified, or something like that...

[2022-11-21 16:51] telephon opened #5916 "Build on macOS Xcode No CMAKE_CXX_COMPILER could be found"
## Environment

* SuperCollider version: SC1.13.rc1
* Operating system:macOS 12.6.1
* XCode: Version 14.1 (14B47b)

## Steps to reproduce

Using the build instructions `README_MACOS.md`,
[code]

## Expected vs. actual behavior

This happens:
[code]

Building without the flag ` -G Xcode` works fine, after cleaning up.

Might be a documentation issue.

[2022-11-21 16:55] telephon commented on #5915
This one is a little tricky. Indeed the best would be to post a message. This will cause a lot of impact on stuff people have written, because they may have not been picky about it etc. It may catch some problems, on the other hand.

We can't really register all synths by default, I suppose. If we had an efficiant way to keep track of all running synths behind the back, without explicitly register

[2022-11-22 11:03] telephon opened #5917 "ToggleFF.ar(0) returns erratic output"
## Steps to reproduce

[code]

## Expected vs. actual behavior

`ToggleFF` should throw an error like `SetResetFF`

[2022-11-22 22:47] dyfer commented on #5916
Building with Xcode generator works for me on macOS 12.

This looks like an issue with the Xcode install. Have you tried (re-)installing Xcode command line tools? (`xcode-select --install`)

Without the flag CMake uses Makefiles generator, which might be the reason missing Xcode components are not an issue.

[2022-11-22 23:00] dyfer commented on #5915
Thinking more about this - it is probably not good either. The situation seems more messy than I thought: these variables are set with _some_ methods of `Node` subclasses, when used without the `NodeWatcher`. `.free` will set them to `false`, but starting a `Synth` does _not_ set them to `true`. Only `RootNode` seems to set them to `true` when started.

IMO this can't be fully, cleanly solved in t

[2022-11-23 00:13] jamshark70 opened #5918 "FileDialog fileMode 2 seems broken in KDE Plasma"
## Environment

* SuperCollider version: 3.11.2 (packages because I can't build yet)
* Operating system: Ubuntu Studio 22.04, KDE Plasma 5.24.4
* Other details (Qt version, audio driver, etc.):

## Steps to reproduce

[code]

## Expected vs. actual behavior

Expected: Posts `got path: ...`.

Actual: OK button is inactive. Click it repeatedly and nothing happens.

Maybe we need to pass a different

[2022-11-23 00:25] dyfer commented on #5911
BTW one workaround would be to build without hidapi:
`cmake -D SC_HIDAPI=OFF ..`
This would of course disable support for Human Input Devices, so it might not be an option...

[2022-11-23 20:57] telephon commented on #5915
If we could query the server to send back a list of nodeIDs running, it may be a relatively cheap operation to at least have some more information in the synth. But it would also need documentation, because a synth would only become "running" after a little time. There may be an overhead for large synth numbers, but not sure about how much that would be.

[2022-11-23 21:42] dyfer commented on #5917
Note to self: I can see the same behavior in 3.12.2 and 3.13.0-rc1, so this is not a regression.

[2022-11-24 11:53] telephon commented on #5916
Ah yes. Not sure how to uninstall … Here are some more infos.

[code]

[2022-11-25 09:10] jamshark70 commented on #5911
Seems to be resolved by the askubuntu thread.

For posterity: https://askubuntu.com/questions/1417403/can-not-install-libudev-dev-on-ubuntu-22-04/1417416#1417416 -- as it would be quite useful to have a record of this somewhere for SC users.

[2022-11-25 09:10] #5911 closed

[2022-11-25 23:22] dyfer commented on #5916
On of the suggestions after a quick search is `sudo xcode-select --reset`. Worth a try?
https://stackoverflow.com/questions/41380900/cmake-error-no-cmake-c-compiler-could-be-found-using-xcode-and-glfw

[2022-11-28 12:21] capital-G opened #5921 "Try does not catch undefined variable"
## Environment

* SuperCollider version: `3.11.2`
* Operating system: macOS 12.6.1
* Other details (Qt version, audio driver, etc.): -

## Steps to reproduce

[code]

returns

[code]

instead of `error`.

## Expected vs. actual behavior

I would thin that `try` allows me to catch any exception.

E.g. python allows to do such things

[code]

This comes in handy if you want to execute arbitrary code

[2022-11-28 12:27] dyfer commented on #5921
I've came across this as well, but...

https://github.com/supercollider/supercollider/issues/1514#issuecomment-258550163

IIUC `try` would only catch compilation errors, but undefined variable is a syntax check failure. I agree it would be nice to be able to catch syntax check errors too, but I'm not sure if that's feasible in sclang...

[2022-11-28 15:26] telephon commented on #5921
yes, this would be useful for a number of things. Couldn't the interpreter call back sclang and throw an error there? Currently, it seems, there is only one way back. The (possibly silly) hack would be for the interpreter to replace the code by something like "SyntaxError(%).throw", with % replaced by the post, and interpret this, instead of just posting the info.

[2022-11-29 23:49] jamshark70 opened #5922 "Should EnvironmentRedirect call dispatch for removeAt?"
EnvironmentRedirect help claims 'dispatch' is "A function or object that is called when the environment is modified."

However the behavior is inconsistent:

[code]

At `removeAt`, the environment has been modified but the function was not called.

This could be resolved as follows:

[code]

(One question is whether we would then need a `localRemoveAt` method mirroring `localPut`.)

[2022-11-30 15:43] schollz commented on #5639
I had the same problem with Ubuntu 22.04.1 LTS and fixed with typing this into the terminal:

[code]

It seems to be another way to disable the [new emoji shortcut](https://askubuntu.com/questions/1372781/new-ctrl-period-key-sequence-default-in-21-10).